<!-- HTML MARKUP FOR THE HERO SECTION OF HOME PAGE -->
<div class="hero-container">
    <div class="first-grid">
      <a href="/archive">
        <article>
          <div class="h-c-category">
            <p><b>Category: </b> <%= heroData.first.category %> | <b>Author:</b> <%= heroData.first.author %>
            </p>
          </div>
          <div class="h-c-title">
            <h4>Title: <%= heroData.first.title %>
            </h4>
          </div>
          <div class="h-c-date">
            <p><b>Date:</b> <%= heroData.first.date %> | <b><%= heroData.second.mins %></b>
            </p>
          </div>
        </article>
      </a>
    </div>
  

  <div class="second-grid">
    <a href="/archive">
      <article>
        <div class="h-c-category">
          <p><b>Category:</b> <%= heroData.second.category %> | <b>Author:</b> <%= heroData.second.author %>
          </p>
        </div>
        <div class="h-c-title">
          <h4>Title: <%= heroData.second.title %>
          </h4>
        </div>
        <div class="h-c-date">
          <p><b>Date:</b> <%= heroData.second.date %> | <b><%= heroData.second.mins %></b>
          </p>
        </div>
      </article>
    </a>
  </div>

  <div class="third-grid">
    <a href="/archive">
      <article>
        <div class="h-c-category">
          <p><b>Category:</b> <%= heroData.third.category %> | <b>Author:</b> <%= heroData.third.author %>
          </p>
        </div>
        <div class="h-c-title">
          <h4>Title: <%= heroData.third.title %>
          </h4>
        </div>
        <div class='h-c-date'>
          <p><b>Date:</b> <%= heroData.third.date %> | <b><%= heroData.third.mins %></b>
          </p>
        </div>
      </article>
    </a>
  </div>

  <div class="fourth-grid">
    <a href="/archive">
      <article>
        <div class="h-c-category">
          <p><b>Category:</b> <%= heroData.fourth.category %> | <b>Author:</b> <%= heroData.fourth.author %>
          </p>
        </div>
        <div class="h-c-title">
          <h4>Title: <%= heroData.fourth.title %>
          </h4>
        </div>
        <div class="h-c-date">
          <p><b>Date:</b> <%= heroData.fourth.date %> | <b><%= heroData.fourth.mins %></b>
          </p>
        </div>
      </article>
    </a>
  </div>

  <div class="fifth-grid">
    <a href="#">
      <article>
        <div class="h-c-category">
          <p><b>Category:</b> <%= heroData.fifth.category %> | Author: <%= heroData.fifth.author %>
          </p>
        </div>
        <div class="h-c-title">
          <h4>Title: <%= heroData.fifth.title %>
          </h4>
        </div>
        <div class="h-c-date">
          <p><b>Date:</b> <%= heroData.fifth.date %> | <b><%= heroData.fifth.mins %></b>
          </p>
        </div>
      </article>
    </a>
  </div>
</div>