<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
  <!-- THE NAV BAR SECTION -->
  <%- include('../partials/nav.ejs') %>
  
  <!-- THE HERO SECTION -->
  <%- include('../partials/home/hero.ejs') %>

  <!-- HOME BLOG LIST SECTION -->
  <%- include('../partials/home/home-blog-list.ejs') %>

  <!-- THE ABOUT SECTION -->
  <%- include('../partials/home/home-abt.ejs') %>

  <!-- THE FOOTER SECTION -->
  <%- include('../partials/footer.ejs') %>
</body>
</html>